{
  "presets": ["env", "react"],

  /* if you want to use babel runtime, uncomment the following line */
   "plugins": ["syntax-dynamic-import"],

  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    }
  }

}
